body {
font-family:tahoma, calibri, helvetica, sans;
font-size:10pt;
text-align:left;
background-color:#e9e9e9;
padding:0;
margin:0;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
html {
overflow-y:scroll;
}
table {
empty-cells:show;
}
div.box {
width:100%;
margin-top:10px;
}
div.box_hdr {
float:left;
width:45%;
text-align:left;
margin-left:2%;
margin-right:2%;
margin-bottom:10px;
}
div.box100 {
width:98%;
margin-left:2%;
margin-right:2%;
padding:5px;
background-color:#c9c9c9;
border-bottom:1pt solid #666;
}
div.box50 {
float:left;
width:45%;
text-align:left;
border:1pt solid #ccc;
margin-left:2%;
margin-right:2%;
}
.search {
border:none;
border:1pt solid #666;
background-color:#ffa;
}
span.label_a {
margin-right:10px;
}
table.dash {
width:100%;
margin-bottom:30px;
border:1pt dotted #e9e9e9;
border-bottom:none;
}
th.sub {
background:#e9e9e9;
color:#333366;
font-size:10px;
text-align:left;
border:none;
cursor:pointer;
padding:12px 0px 12px 5px;
font-weight:normal;
}
td.row {
background:transparent;
border-bottom:1pt dotted #dbdbdb;
color:#000;
font-size:11px;
padding:6px 5px;
}
tr.dash_row:hover {
background-color:#fff;
}
div.bars {
border: 1pt solid lightblue;
border-left:none;
background-color:#E2EFFF;
height:16px;
margin-top:-22px;
border-top-right-radius:2px;
border-bottom-right-radius:3px;
}
